
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--cfondo);
  font-family: sans-serif;
}

.container {
  
  max-width: 90%;
  margin: auto;
  margin-top: 20px;
}

:root {
  --cfondo: #CABFBF;
  --cfondoForm1: #D4ACAC;
  --cfondoForm2: #BDBDBD;
  --cnegro: #000000;
  --ctexto: #0e5158;
  --ctextoDark: #5D5353;
  --cblanco: white;
  --error: #b81f1f;
  --primary-color: #8F7777;
  --background-color: #CABFBF;
  --dark-color: #151515;
}

[type="checkbox"] {
  display: none;
}

[type="checkbox"]:checked + label::before {
  background: var(--cnegro);
  transition: 0.5s;
  transform: rotate(180deg);
}

[type="checkbox"]:checked + label {
  color: var(--cnegro);
}



.form {
  
  border-top: 2px solid var(--cblack);
  color: black;
  max-width: 400px;
  padding: 30px 50px;
  margin: auto;
  margin-top: 10px;
  background: linear-gradient(
    0deg,
    var(--cfondoForm1) 0%,
    var(--cfondoForm2) 50%
    
  );
}

.form-titulo {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.form-input {
  margin-bottom: 30px;
}

.form-input label {
  display: block;
  margin-top: 10px;
  font-size: 15px;
  color: var(--ctexto);
}

.form-input input {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid var(--ctexto);
}

.form-input input:focus + label {
  font-weight: bold;
  color: var(--cnegro);
}

.form-termsAndConditions {
  margin-left: 15px;
  position: relative;
  color: var(--ctexto);
  font-size: 13px;
}

.form-termsAndConditions label::before {
  content: "";
  width: 8px;
  height: 8px;
  border: 1px solid var(--cnegro);
  position: absolute;
  left: -14px;
}

.form-boton input {
  border: none;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 3rem;
  border-radius: 2rem;
  font-size: 1.4rem;
  font-family: inherit;
  cursor: pointer;
  font-weight: 600;
}

.form-boton input:hover {
  background: var(--ctextoDark);
  transition: 0.5s;
}

.mensajeError {
  color: var(--error);
  margin-top: 0px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
}

.mensajeCorrecto {
  text-align: center;
  font-weight: bold;
}
