/* Estilo base para todos los dispositivos */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #999966;
    color: rgb(12, 11, 11);
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 11px;
    background-color:#666600;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(22, 22, 22);
}

main {
    padding: 20px;
}

footer {
    background-color: #0e0d0d;
    color: rgb(10, 10, 10);
    text-align: center;
    padding: 10px;
}

/* Estilos específicos para dispositivos más pequeños (puedes agregar más reglas de medios para diferentes tamaños de pantalla) */
@media screen and (max-width: 768px) {
    header {
        padding: 20px;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    main {
        padding: 10px;
    }

    footer {
        padding: 5px;
    }
}